@model TrackMyHabit.Models.Calendars
<div class="container">
    <h2 class="display-4 mb-4 text-center">@Model.Day.ToString("MMMM") @Model.Year</h2>
    <p>Click the day to add a color coded habit!</p>
    <div asp-controller="Calendars" asp-action="ChangeMonth" method="post">
        <button type="button" name="next" class="btn-default float-right">Next</button>
        <button type="button" name="previous" class="btn-default float-left">Previous</button>
    </div>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                @foreach (var day in Enum.GetValues(typeof(DayOfWeek)))
                {
                    <th class="text-center" width="10%">@day</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var days in Model.Dates)
            {
                if (days.DayOfWeek == DayOfWeek.Sunday && days != Model.StartDate)
                {
                    <tr></tr>
                }
            <td style="height: 100px">@days.Date.Day</td>
            }
        </tbody>
        </table>
    </div>
