@model TrackMyHabit.Models.Calendars


<div class="container-fluid">
    <h1 class="text-lg-center"> Habit Tracker </h1>
    @*<p>Click the day to add a color coded habit!</p>*@
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-lg-10" style="background-color:lavenderblush;">
            <table class="text-center">
                <tr>
                    @foreach (var day in Enum.GetValues(typeof(DayOfWeek)))
                    {
                        <th class="col-sm-1">@day</th>

                    }
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="container-fluid">

</div>
    @*@foreach (var day in @Model.Dates)
            {
                <table>
                    <tr>
                        <th>@day.DayOfWeek</th>
                    </tr>
                </table>
            }

</div>*@
