@model TrackMyHabit.Models.Calendars
<div class="container">
    <h1 class="display-4 mb-4 text-center"> Calendar </h1>
    <p>Click the day to add a color coded habit!</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                @foreach (var day in Enum.GetValues(typeof(DayOfWeek)))
            {
                <th class="text-center">@day</th>
            }
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var days in Model.Dates)
            {
                if (days.DayOfWeek == DayOfWeek.Sunday && days != Model.StartDate)
                {
                    <tr></tr>
                }
                <td>@days.Date.Day</td>
            }
            </tr>
        </tbody>
    </table>
</div>
