@model List<TrackMyHabit.Models.Habits>


<div class="container-fluid">
    <h1 class="text-lg-center"> Habit Tracker </h1>
    @*<p>Click the day to add a color coded habit!</p>*@
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-lg-10" style="background-color:lavenderblush;">
            <table class="text-center">
                <tr>
                    <th class="col-sm-1">Monday</th>
                    <th class="col-sm-1">Tuesday</th>
                    <th class="col-sm-1">Wednesday</th>
                    <th class="col-sm-1">Thursday</th>
                    <th class="col-sm-1">Friday</th>
                    <th class="col-sm-1">Saturday</th>
                    <th class="col-sm-1">Sunday</th>
                </tr>
            </table>
        </div>
    </div>
</div>
@*<div class="container-fluid">
    @foreach (var habit in @Model)
            {
                <p>@habit.Id</p>
                <p>@habit.Name</p>
            }

</div>
<div class="container-fluid">
    <calendar month="11" year="2021" evt="@Model" />
</div>*@
@*foreach (day in dates) {
 if the day is sunday, use the range of 42 to keep adding boxes

}*@ 
@foreach (var day in @Model.dates)
            {
                <div class="container-fluid">

                </div>
            }


