
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <h3>This tracker will help you build new habits! Add new habits and choose a color to add to the calendar!!!!!!!!!!!!!!!!!!!!!!!!!!!</h3>
</div>