
<div class="text-center">
    <h1 class="display-4" style="font-family:'Dancing Script', cursive; font-size:48px">Welcome</h1>
</div>

<div style="font-family:'Lato', sans-serif">
    <h3 style="font-size:25px">This tracker will help you build new habits. <br/> </h3>
    <h3 style="font-size:25px"> Create new habits and choose a color to display it on your calendar.</h3>
</div>