@model TrackMyHabit.Models.HabitsViewModels.AddHabitsDatesViewModel

<h1>Add Date to Habit: @Model.Habit.Name</h1>

<form asp-controller="AllDates" asp-action="AddHabit" method="post">
    <input type="hidden" value="@Model.Habit.ID" name="HabitID" />
    <div class="form-group">
        <label asp-for="AllDatesID">Date</label>
        <select asp-for="AllDatesID" asp-items="Model.Dates"></select>
        <span asp-validation-for="AllDatesID"></span>
    </div>
    <input type="submit" value="Add Date" />
</form>