@model TrackMyHabit.Models.Habits

@{
    ViewData["Title"] = "Delete";
}


<div class="row">
    <div class="col-md-6 offset-md-3" style="font-family:'Lato', sans-serif">
        <h1 style="font-family:'Open Sans', sans-serif">Delete</h1>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Colour)
            </dt>
            <dd class="col-sm-2" style="background-color:@Model.Colour; color:@Model.Colour">
                @Html.DisplayFor(model => model.Colour)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
