@model TrackMyHabit.Models.HabitsViewModels.UpdateHabitWithDateViewModel


@{
    ViewData["Title"] = "Edit";
}

<div class="row" style="font-family:'Lato', sans-serif">
    <div class="col-md-6 offset-md-3">
        <h1 style="font-family:'Open Sans', sans-serif">Edit your habit</h1>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HabitId" />
            <div class="form-group">
                <label asp-for="HabitName" class="control-label"></label>
                <input asp-for="HabitName" class="form-control" />
                <span asp-validation-for="HabitName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HabitColor" class="control-label"></label>
                <input type="color" asp-for="HabitColor" class="control-Label" />
                <span asp-validation-for="HabitColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h2>List of dates: </h2>
                @foreach (var date in Model.HabitsDates)
                {
                    @date.AllDates.Date.ToLongDateString()
                }
            </div>
            <div>
                <div class="form-group">
                    <h2>Add a new date</h2>
                    <label asp-for="HabitDate"></label>
                    <input asp-for="HabitDate" value="" />
                    <span asp-validation-for="HabitDate"></span>
                </div>
                <input type="submit" value="Add Date" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
